.add-article {
  margin-top: 20px;
  position: relative;
  .form-list-item {
    display: flex;
    line-height: 36px;
    .label {
      width: 50px;
      font-weight: bold;
    }
  }
  .action-icon {
    position: absolute;
    right: 100px;
    bottom: -50px;
    z-index: 2;
  }
}