.search-box {
  float: left;
  height: 22px;
  padding-left: 16px;
  line-height: 22px;
  margin: 22px auto 0px;
  border-left: 1px solid rgb(235, 237, 240);
  .search-icon {
    color: #ced4d9;
    position: relative;
    top: 0.5px;
    cursor: pointer;
  }
  .search-input {
    font-size: 14px;
    margin-top: -5px;
    width: 200px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    &::placeholder {
      color: #a3b1bf;
    }
  }
}