.left-side {
  border-right: 1px solid #ebedf0;
  height: calc(100vh - 64px - 40px);
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
  .avator {
    width: 100px;
    height: 100px;
  }
}